
.cancion {
  margin-bottom: 12px;
  padding: 20px;
  background-color: #181818;
  border-radius: 8px;
}

.cancion h2 {
  margin: 0 0 12px;
  font-size: 20px;
  color: #1db954;
}

.cancion p {
  margin: 6px 0;
  color: #b3b3b3;
}